@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

:root {
  --primary-color: #22b4a6;
  --text-color: #585b5e;
  --icon-color: #b5b5b5;
  --backgournd-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding: 1.5em;
  color: var(--text-color);
  background-color: var(--backgournd-color);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
}
.header__title {
  font-size: 1.2rem;
}
.header__icon {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-image: url('/assets/girl.png');
  background-position: center;
  background-size: cover;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.12);
}

.search {
  background-color: white;
  width: 100%;
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.search__input {
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  flex: 1;
}
.search__input::placeholder {
  color: var(--icon-color);
}
.search__icon {
  color: var(--icon-color);
  font-size: 1.2rem;
}
.search__icon--search {
  padding: 1em 0 1em 1.2em;
}
.search__icon--microphone {
  padding: 1em 1.2rem;
}
.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  overflow-x: auto;
  scrollbar-width: none;
}
.category::-webkit-scrollbar {
  display: none;
}
.category__text {
  margin-right: 2em;
}
.category__text--selected {
  font-weight: bold;
}

.HorizontalList {
  margin: 0 -1.5rem;
  padding: 1rem 0;
  /* display: flex;
  flex-wrap: nowrap; */
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.HorizontalList::-webkit-scrollbar {
  display: none;
}
.HorizontalList__wrapper {
  /* position: absolute; */
  left: 0;
  top: 0;
  display: flex;
  width: auto;
  align-items: center;
  padding: 1em;
}
.padding {
  display: inline-block;
  padding: 1em;
  width: 60%;
}
.padding:nth-child(1) {
  margin-left: 0.5rem;
}
.padding:nth-last-child(1) {
  margin-right: 0.5rem;
}
.card {
  /* flex-basis: 60%;
  width: 100%; */
  flex: 0 0 auto;
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: white;
  padding: 1em;
  box-shadow: 0 12px 1.2rem rgba(0, 0, 0, 0.2);
}
.card__padding {
  padding: 0.5rem;
}
.card__image {
  width: 100%;
  padding-top: 150%;
  background-image: url('/assets/plant_01.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.2));
}
.card__category {
  font-size: 0.9rem;
  font-weight: 200;
}
.card__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0 0.5rem;
}
.card__product-name {
  white-space: nowrap;
  flex-grow: 1;
  font-size: 1.1rem;
}
.card__price {
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5rem;
  color: var(--primary-color);
  background-color: white;
  justify-self: flex-end;
}

img.image {
  display: block;
  width: 50%;
  flex-shrink: 1;
}
.recommend {
  margin-top: 0.5rem;
}
.recommend__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recommend__title {
  font-size: 1.2rem;
}
.recommend__dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1.4rem;
  margin-right: 0.5rem;
}
.dot {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 1rem;
  background-color: var(--text-color);
}

/* .image {
  width: 100%;
  padding-top: 100%;
  background-position: center;
  background-image: url("http://wallpaperheart.com/wp-content/uploads/2018/04/view-nature-background-nature.jpg");
} */

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.image-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: #000; */
  display: none;
  /* transition: opacity 0.5s ease; */
}

.image-overlay.show {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-overlay img {
  width: 100%;
}
